{% extends 'base.html' %}
{% block title %}
    Admin
{% endblock title %}
{% block content %}




{% include 'Admin/Navbar.html' %}



    <form action="" method="post">
        {% csrf_token %}
        <h1 class="text-center py-10 font-bold text-2xl bg-blue-400">Create new User</h1>
        <div class="flex bg-red-400 p-5  items-center justify-center">
           
            <div class="flex flex-col space-y-4 ">
            {% load widget_tweaks %}
            {{form.name|add_class:"border-1 border-green-400 p-1 rounded-lg "|attr:"placeholder:Name"}} 
            {{form.email|add_class:"border-1 border-green-400 p-1 rounded-lg "|attr:"placeholder:Email"}}
            {{form.password|add_class:"border-1 border-green-400 p-1 rounded-lg "|attr:"placeholder:Password"}}
            {{form.phone_number|add_class:"border-1 border-green-400 p-1 rounded-lg "|attr:"placeholder:Phone Num"}}
            {{form.department|add_class:"border-1 border-green-400 p-1 rounded-lg "|attr:"placeholder:Department"}}
            {{form.role|add_class:"border-1 border-green-400 p-1 rounded-lg "|attr:"placeholder:Role"}}
            <button type="submit" class="bg-blue-400 p-4 rounded-lg">submit</button>
             </div>
            </div>
       
       
    </form>
    
{% endblock content %}
