{% extends 'base.html' %}

{% block title %}
    new ticket
{% endblock title %}

{% block content %}

<div class="container mx-auto px-4 py-8 flex flex-col items-center">
    <h2 class="text-2xl font-bold mb-4">Create New Ticket</h2>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <form method="POST" class="max-w-sm bg-blue-400 p-4  pb-5">
        {% csrf_token %}
        {% load widget_tweaks %}
        <div class="flex flex-col space-y-4">
            {{ form.subject|add_class:" border-2 border-black "|attr:"placeholder:Subject " }}
            {{ form.body|add_class:" border-2 border-black"|attr:"placeholder:body" }}
            {{ form.priority|add_class:" border-2 border-gray-900"|attr:"placeholder:priority" }}
            {{ form.department|add_class:" border-2 border-gray-900"|attr:"placeholder:department" }}
            <input type="submit" value="Create Ticket" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-4">
        
        </div>
       </form>
</div>

    
{% endblock content %}
    

